<h1><%= current_user.name %></h1>

<% if current_user.current_ride %>

  <div id="rider-active-ride">

  <%= render "shared/current_ride" %>
  
  </div>

<% else %>

<%= link_to "request a ride", new_ride_path %>

<% end %>

<%= render "shared/completed_rides" %>

