<h1><%= current_user.name %></h1>

<% if current_user.current_ride %>

  <%= render "shared/current" %>

<% else %>

<%= link_to "request a ride", new_ride_path %>

<% end %>

<%= render "shared/completed_rides" %>

